---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
  title="About Me"
  description="Learning about Luke"
	pubDate={new Date('January 08 2026')}
>
  <p>
    There should be some information about me here.
  </p>
</Layout>

